.chat-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-head {
  --shadow-color: #26282c;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 6px -2px var(--shadow-color);
  z-index: 1;
  padding: 1.25rem;
}

.chat-channel {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.chat {
  --scrollbar-width: 8px;
  --scrollbar-track-background: #2b2d31;
  --scrollbar-thumb-background: #1a1b1e;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0.75rem;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.chat::-webkit-scrollbar-track {
  background: var(--scrollbar-track-background);
}

.chat::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background);
  border-radius: 10px;
}

.message {
  --background: #313338;
  background-color: var(--background);
  display: flex;
  gap: 10px;
  padding: 5px;
}

.message-user-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.message-contents {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-head :not(:first-child, :last-child) {
  padding: 0 2.5px;
}

.message-head :first-child {
  padding-right: 2.5px;
}

.message-head :last-child {
  padding-left: 2.5px;
}

.message-username {
  font-size: 1rem;
}

.message-bot-tag-wrapper {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
}

.message-time {
  --color: #949ba4;
  color: var(--color);
  font-size: 0.75rem;
}

.message-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}