.role {
  padding: 1px 2px;
  border-radius: 3px;
}

.channel {
  --color: #c5c6f7;
  --bg-color: #3c4270;
  --hover-color: #ffffff;
  --hover-bg-color: #5865f2;
  padding: 1px 2px;
  border-radius: 3px;
  color: var(--color);
  background-color: var(--bg-color);
  transition: all 0.1s;
}

.channel:hover {
  color: var(--hover-color);
  background-color: var(--hover-bg-color);
}

.bot-tag {
  --color: #5865f2;
  background-color: var(--color);
  font-size: 0.625rem;
  padding: 0.15rem;
  border-radius: 0.2rem;
}