.sidebar {
  --background: #1e1f22;
  height: 100vh;
  max-width: 72.5px;
  background-color: var(--background);
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}

.sidebar-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.sidebar-icon:hover {
  border-radius: 30%;
}

.dms {
  --color: #dbdedb;
  --dms-bg: #313338;
  --dms-hover-color: #5865f2;
  --popup-bg-color: #111214;
  color: var(--color);
  padding: 12px;
  background-color: var(--dms-bg);
  border-radius: 50%;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dms:hover {
  border-radius: 30%;
  background-color: var(--dms-hover-color);
}

.dms:hover::before,
.dms:hover::after {
  z-index: 2;
}

.dms:hover::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 6px 0;
  border-color: transparent var(--popup-bg-color) transparent transparent;
  left: calc(100% + 15px);
  top: 50%;
  transform: translateY(-50%);
}

.dms:hover::after {
  content: "Direct Messages";
  position: absolute;
  background-color: var(--popup-bg-color);
  padding: 0.75rem;
  border-radius: 7px;
  font-weight: bold;
  left: calc(100% + 20px);
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.dms-servers-seperator {
  --color: #35363c;
  width: 32px;
  height: 2px;
  background-color: var(--color);
  border-radius: 1px;
}

.default-server-icon {
  --default-server-icon-bg-color: #313338;
  background-color: var(--default-server-icon-bg-color);
  display: grid;
  place-items: center;
  font-size: 25px;
}

.server-icon-wrapper {
  --popup-bg-color: #111214;
  position: relative;
}

.server-icon-wrapper:hover::before,
.server-icon-wrapper:hover::after {
  z-index: 2;
}

.server-icon-wrapper:hover::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 6px 0;
  border-color: transparent var(--popup-bg-color) transparent transparent;
  left: calc(100% + 15px);
  top: 50%;
  transform: translateY(-50%);
}

.server-icon-wrapper:hover::after {
  content: attr(data-guildname);
  position: absolute;
  background-color: var(--popup-bg-color);
  padding: 0.75rem;
  border-radius: 7px;
  font-weight: bold;
  left: calc(100% + 20px);
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}